@use '../../../../styles/mixins' as m;

.actions-menu {
  display: inline-block;

  button {
    line-height: 1;
    font-size: 1.2rem;
    padding: 0.25rem;
  }
}

.menu {
  @include m.bg(surface-variant);
  @include m.border(surface);
  @include m.shadow();
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  min-width: 120px;
  gap: 0.125rem 0rem;

  button[cdkMenuItem] {
    @include m.text(on-surface-variant);
    @include m.bg(surface-variant);
    padding: 0.5rem 0.75rem;

    &:hover {
      @include m.bg(primary-container);
    }
  }
}
