@use '../../../../styles/mixins' as m;

.actions-menu {
  position: relative;

  .menu {
    @include m.bg(surface-variant);
    @include m.border(surface);
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    min-width: 120px;
    z-index: 10;

    button {
      padding: 8px;
      border: none;
      background: transparent;
      text-align: left;
      cursor: pointer;
      @include m.text(on-surface-variant);
    }

    button:hover {
      @include m.bg(primary-container);
    }
  }

  &.drop-up .menu {
    top: auto;
    bottom: 100%;
  }
}
