@use '../../../../styles/mixins' as m;

.snackbar {
  @include m.bg(primary);
  @include m.text(surface);
  visibility: hidden;
  min-width: 250px;
  text-align: center;
  border-radius: 4px;
  padding: 12px;
  position: fixed;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  transition:
    opacity 0.3s,
    visibility 0.3s;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}
