@use './mixins.scss' as m;

.search-input {
  position: relative;
  width: 100%;

  input {
    @include m.bg(surface);
    @include m.border(primary);
    width: calc(100% - 34px);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      @include m.bg(surface-variant);
      @include m.border(primary-variant);
      @include m.shadow();
    }

    &:hover {
      @include m.shadow();
    }
  }
}

.form-field {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 500;
    margin-bottom: 4px;
  }

  input,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;

    &.ng-invalid.ng-touched {
      border-color: red;
    }
  }

  small {
    color: red;
    font-size: 12px;
  }
}
