<div class="table-container">
  @if (!loading()) {
    <table>
      <thead>
        <tr>
          @for (col of columns(); track col.key) {
            <th>{{ col.label }}</th>
          }
          <th></th>
        </tr>
      </thead>
      <tbody>
        @if (paginatedData().length > 0) {
          @for (row of paginatedData(); let i = $index; track $index) {
            <tr>
              @for (col of columns(); track col.key) {
                <td>
                  @if (col.key === 'logo') {
                    <img [src]="row[col.key]" alt="Logo" width="auto" height="35" />
                  } @else {
                    {{ row[col.key] }}
                  }
                </td>
              }
              <td style="max-width: 45px">
                <app-dropdown-menu
                  [row]="row"
                  (edit)="edit.emit(row)"
                  (remove)="remove.emit(row)"
                ></app-dropdown-menu>
              </td>
            </tr>
          }
        } @else {
          <tr>
            <td [attr.colspan]="columns().length + 1" class="no-data">
              No existen datos para mostrar
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <app-table-skeleton [columns]="columns()" [rows]="pageSize()"></app-table-skeleton>
  }
</div>

<div class="table-actions">
  <div class="paginator">
    <span>
      Mostrando {{ currentRange().start }}-{{ currentRange().end }} de {{ total() }} resultados
    </span>

    <select
      id="pageSize"
      [value]="pageSize()"
      (change)="onPageSizeChange($event)"
      aria-label="Page size"
    >
      @for (size of pageSizeOptions(); track $index) {
        <option [value]="size">{{ size }}</option>
      }
    </select>
  </div>
  <span class="page-info"> Página {{ pageIndex() + 1 }} de {{ totalPages() }} </span>

  <div class="navigator">
    <button type="button" (click)="prevPage()" [disabled]="!canPrev()">Anterior</button>
    <button type="button" (click)="nextPage()" [disabled]="!canNext()">Siguiente</button>
  </div>
</div>
