.table-container {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.table-actions {
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;

  .paginator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .navigator {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 614px) {
  .table-actions {
    display: flex;
    flex-direction: row;
  }
}
