<div class="table-container">
  @if (!loading()) {
    <table>
      <thead>
        <tr>
          @for (col of columns(); track col.key) {
            <th>{{ col.label }}</th>
          }
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (row of paginatedData(); track $index) {
          <tr>
            @for (col of columns(); track col.key) {
              <td>
                @if (col.key === 'logo') {
                  <img [src]="row[col.key]" alt="Logo" width="auto" height="35" />
                } @else {
                  {{ row[col.key] }}
                }
              </td>
            }
            <td>
              <div class="actions-menu">
                <button type="button" (click)="toggleMenu(row)">⋮</button>
                @if (openRow() === row) {
                  <div class="menu">
                    <button type="button" (click)="edit.emit(row)">Editar</button>
                    <button type="button" (click)="remove.emit(row)">Eliminar</button>
                  </div>
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <app-table-skeleton [columns]="columns()" [rows]="pageSize()"></app-table-skeleton>
  }
</div>

<div class="table-actions">
  <div class="paginator">
    <span class="page-info"> Página {{ pageIndex() + 1 }} de {{ totalPages() }} </span>

    <select
      id="pageSize"
      [value]="pageSize()"
      (change)="onPageSizeChange($event)"
      aria-label="Page size"
    >
      @for (size of pageSizeOptions(); track $index) {
        <option [value]="size">{{ size }}</option>
      }
    </select>

    <span>de {{ total() }} resultados</span>
  </div>

  <div class="navigator">
    <button type="button" (click)="prevPage()" [disabled]="!canPrev()">Anterior</button>
    <button type="button" (click)="nextPage()" [disabled]="!canNext()">Siguiente</button>
  </div>
</div>
