@use 'sass:map';
@use '../../../../styles/colors' as c;

.skeleton {
  height: 35.5px;
  width: 100%;
  background: linear-gradient(
    90deg,
    map.get(c.$colors, surface) 25%,
    map.get(c.$colors, surface-variant) 50%,
    map.get(c.$colors, surface) 75%
  );
  background-size: 200% 100%;
  border-radius: 4px;
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
