<app-container>
  <p class="title">{{ isEdit() ? 'Formulario de actualización' : 'Formulario de registro' }}</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="product-form">
    <div class="form-grid">
      <div class="form-field">
        <label for="id">ID</label>
        <input id="id" type="text" formControlName="id" />
        @if (form.get('id')?.hasError('required') && form.get('id')?.touched) {
          <small>ID es requerido</small>
        }
        @if (form.get('id')?.pending) {
          <small>Verificando...</small>
        }
        @if (form.get('id')?.hasError('idExists')) {
          <small> Este ID ya existe, elige otro</small>
        }
      </div>

      <div class="form-field">
        <label for="name">Nombre</label>
        <input id="name" type="text" formControlName="name" />
      </div>

      <div class="form-field">
        <label for="description">Descripción</label>
        <input id="description" type="text" formControlName="description" />
      </div>

      <div class="form-field">
        <label for="logo">Logo (URL)</label>
        <input id="logo" type="text" formControlName="logo" />
      </div>

      <div class="form-field">
        <label for="date_release">Fecha de liberación</label>
        <input id="date_release" type="date" formControlName="date_release" />
      </div>

      <div class="form-field">
        <label for="date_revision">Fecha de revisión</label>
        <input id="date_revision" type="date" formControlName="date_revision" />
      </div>
    </div>

    <div class="form-actions">
      <button type="button" (click)="onReset()">Reiniciar</button>
      <button type="submit" [disabled]="form.invalid">
        {{ isEdit() ? 'Actualizar' : 'Agregar' }}
      </button>
    </div>
  </form>
</app-container>
